<app-stepflow [notifier]="stepNotifier">
  <app-stepflow-step [first]="true" [tekstVolgende]="'Je kan het!'">
    <p>Vraag 1</p>
    <p question>Een random vraag</p>
  </app-stepflow-step>

  <app-stepflow-step [tekstVorige]="'Toch maar niet'" (sendValue)="checkInput($event)">
    <p>Vraag 2</p>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input checkValue matInput placeholder="Ex. Pizza" value="">
    </mat-form-field>
  </app-stepflow-step>

  <app-stepflow-step [last]="true">
    <p>Vraag 3</p>
    <p question>Is dit het einde?</p>
  </app-stepflow-step>
</app-stepflow>

<button mat-raised-button color="primary" (click)="gaVerder()">
  Knop om vanuit code naar volgende te gaan
</button>
